<%- include('header') %>

	<link rel="stylesheet" type="text/css" href="/css/desktop/user-news.css">
	<title>user-news</title>
</head>
<body>
	<header>
		<div class="header clearfix">
			<div class="logo">
				<h1><a href="#">新闻网</a></h1><h3>个人信息</h3>
			</div>
			<div class="user">
				<div class="ui dropdown">
				  <div class="iconfont">&#xf00cc;</div>
				  <div class="menu">
				    <a href="/news/create" class="item">提交新闻</a>
				    <a href="/user" class="item"> 个人信息 </a>
				    <a href="/isignout" class="item"> 退出登录</a>
				  </div>
				</div>
				<div class="avatar">
					<a href="#"><img src="/img/<%= user.avatar %>"></a>
				</div>
			</div>
		</div>
	</header>


	<div class="main">
		<div class="u-c mid clearfix">
			<div class="sec-c">
				<div class="sec">
					<div class="tit">
						常规设置
					</div>
					<ul>
						<li><a href="/user">个人档案 </a></li>
						<li><a href="/user/news/<%= user._id %>">文章提交情况</a></li>
						<li><a href="#">个性名片</a></li>
						<li><a href="#">专栏设置</a></li>
					</ul>
				</div>
			</div>
			<div class="news-status">
				<form enctype="multipart/form-data" method="post" name="userinfo" action=""></form>
				<div class="tit">
					文章提交情况
				</div>
				<ul class="clearfix">
					<% if (newses) { 
						newses.forEach(function(news){  %>
							<li>
								<div class="n-s-c clearfix" name="1">
									<div class="news-tit">
										<%= news.title %>
									</div>
									<div class="status">
										<% if (news.permission === 'n') { %>
											(审核未通过)
										<% } %>
									</div>
									<% if (news.permission === 'y') { %>
									<div class="btn" news_id="<%= news._id %>">
										<div>删除</div>
									</div>
									<% } %>
								</div>
							</li>
					<%	});
					} %>
				</ul>
			</div>
		</div>
	</div>

	<footer>
		<div class="footer mid">
			<h2>
				页脚标题
			</h2>
			<ul class="foot_ul">
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
				<li>
					<ul>
						<li>页脚页脚</li>
						<li>页脚页脚</li>
					</ul>
				</li>
			</ul>
			<div class="copy_r">
				©copy-right 2016/12/12 海源
			</div>
		</div>
	</footer>

<script>
	!function(){
		$('.ui.dropdown').dropdown();
		$('.btn').click(function(){
			var that = $(this);
			$.post('/user/news',{
				news_id: $(this).attr('news_id')
			})
			.done(function(data){
				if (data === 'success'){
					that.parent('.n-s-c').parent().remove();
				}
			})
			.fail(function(){
				alert('fail')
			})
		})
	}()
</script>

<%- include('footer') %>