  标题:<a href='/news/<%= news._id %>' ><%= news.title %></a>
  <% if (/(\.gif)|(\.jpg)|(\.png)/.test(news.news_pic)) { %>
  <img class="news_pic" src="/img/<%=news.news_pic %>">
  <% } %>
  <a href="#">内容:</a><%- news.content %>
  <span>浏览(<%= news.pv %>)</span>
  <span>post-time:<%= news.created_at %></span>
  <span>authorname:<%= news.author_id.name %></span>
  <span>resume:<%= news.author_id.resume %></span>

  <% if (user && news.author_id._id && user._id.toString() === news.author_id._id.toString()) { %>
              <div class="ui inline dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/news/<%= news._id %>/edit">编辑</a></div>
                  <div class="item"><a href="/news/<%= news._id %>/remove">删除</a></div>
                </div>
              </div>
            <% } %>

  <img class="avatar" src="/img/<%=news.author_id.avatar %>">