<%- include('iheader') %>
<link rel="stylesheet" href="/css/mobile/istyle.css">
<title>nms-inews</title>
</head>
<body>
	<div class="i_head clearfix">

		<div class="i_logo">
			<a href="/inews" class="i_logo_pic"></a>
		</div>
		<div class="i_head_rig">
			<% if (user) { %>
				<div class="ui dropdown">
			 	<div class="iconfont">&#xf00cc;</div>
				  <div class="menu">
				    <a href="" class="item">提交文章</a>
				    <a href="/inews" class="item">个人信息</a>
				    <a href="/isignout" class="item"> 退出登录 </a>
				  </div>
				</div>
				<% }else{  %>
			 <a href="/isignin" class="iconfont">&#xe6a0;</a> 
			<% } %>
		</div>
			
	</div>
	<div class="i_nav">

		<div class="i_nav_list">
			<a href="">新闻</a>
			<a href="">政事</a>
			<a href="">体育</a>
			<a href="">娱乐</a>
			<a href="">金融</a>
			<a href="">时尚</a>
		</div>
		<div class="i_nav_list">
			<a href="">汽车</a>
			<a href="">房产</a>
			<a href="">科技</a>
			<a href="">游戏</a>
			<a href="">社会</a>
			<a href="">购物</a>
		</div>

	</div>
	<div class="i_search">

		<form action="" name="search_news"></form>
		<div class="ui search">
		  <div class="ui icon input">
		    <input class="prompt" type="text" placeholder="输入你要搜索的新闻标题" form="search_news">
		    <a class="search_icon icon iconfont">&#xe618;</a>
		  </div>
		  <div class="results"></div>
		</div>

	</div>
	<div class="i_slide">

		<div class="slider"><!--主体结构，请用此类名调用插件，此类名可自定义-->
			<ul>
				<% top_stories_w1.forEach(function (news) {
				  	if (news.permission === 'y' 
				  	     && /(\.gif)|(\.jpg)|(\.png)/.test(news.news_pic)) {  %>
				  	<li>
				  	<a href="/inews/<%= news._id %>"><img src="/img/<%=news.news_pic %>" alt="<%= news.title %>" />
				  	</a>
				  	</li>
				<% }  
				}) %>
			</ul>
		</div>

	</div>
	<div class="i_topStories">
		<div class="i_topStories_tit clearfix">
			<h2>今日要闻</h2>
			<p>
				<% if (top_stories_w0[0] !== undefined){ %>
				<% } %>
				<a href="/inews/cate/top-stories">更多</a>
			</p>
		</div>
		<div class="i_topStories_tab">
			<ul>
				<% top_stories_w0.forEach(function (n) {
				  	if (n.permission === 'y') {  %>
				  <%- include('components/news-content', {news: n}) %>
				<% }  
				}) %>
			</ul>
		</div>
	</div>
	<div class="i_section">
		<div class="i_section_tit clearfix">
			<h2>体育</h2>
			<p>
				<% if (sport_newses_w0[0] !== undefined){ %>
				<a href="/inews/cate/sport">更多</a>
				<% } %>
			</p>
		</div>
		<div class="i_section_tab">
			<ul>
				<% sport_newses_w0.forEach(function (n) {
				  	if (n.permission === 'y') {  %>
				  <%- include('components/news-content', {news: n}) %>
				<% }  
				}) %>
			</ul>
		</div>
	</div>
	<div class="i_lifeAd">
		<div class="i_lifeAd_tit clearfix">
			<h2>
				生活服务
			</h2>
		</div>
		<div class="i_lifeAd_list">
			<div class="i_lifeAd_list_row i_lifeAd_row_1">
				<a href="">找工作</a>
				<a href="">租好车</a>
				<a href="">找维修</a>
				<a href="">找投资</a>
				<a href="">二手房</a>
				
			</div>
			<div class="i_lifeAd_list_row i_lifeAd_row_2">
				<a href="">找搬家</a>
				<a href="">租好房</a>
				<a href="">二手车</a>
				<a href="">淘手机</a>
				<a href="">找保洁</a>
			</div>
		</div>
	</div>
	<div class="i_more">
		<div class="i_more_tit clearfix">
			<h2>更多推荐</h2>
		</div>
		<div class="i_more_list">
			<div class="i_more_list_row">
				<a href="">京东</a>
				<a href="">淘宝</a>
				<a href="">充值</a>
				<a href="">彩票</a>
				<a href="">游戏</a>
				<a href="">保镖</a>
			</div>
			<div class="i_more_list_row">
				<a href="">滴滴</a>
				<a href="">会员</a>
				<a href="">邮箱</a>
				<a href="">小说</a>
				<a href="">空间</a>
				<a href="">博客</a>
			</div>
		</div>
	</div>
	
	<script src="/js/YuxiSlider.jQuery.min.js"></script>
	<script>
		(function(){
			var deviceWidth = document.documentElement.clientWidth;
			if(deviceWidth > 640) deviceWidth = 640;
			$(".slider").YuxiSlider({
				width:deviceWidth, //容器宽度
				height:180, //容器高度
				control:$('.control'), //绑定控制按钮
				during:4000, //间隔4秒自动滑动
				speed:800, //移动速度0.8秒
				mousewheel:true, //是否开启鼠标滚轮控制
				direkey:true //是否开启左右箭头方向控制
			});
			$('.ui.dropdown').dropdown();
			var content = [
				  /*{ title: 'Andorra' },
				  {	title: '男子酒后大闹KTV点燃汽油，4名警察被烧伤',}*/
				  // etc
				];
			var single_news = {};

			<% if(newses){ 
			newses.forEach(function(news){ %>
				content.push({ 
				title: '<%= news.title %>' ,
				url: '/inews/<%= news._id %>'
			//	description: 
				});
				single_news['<%= news.title %>'] = '<%= news._id %>';
			<% });} %>


			$('.search_icon').click(function(){
				console.log(single_news[$('.prompt').val()]);
				window.location.href = '/inews/'+single_news[$('.prompt').val()];
			});  


			$('.ui.search')
		  .search({
		    source: content,
		    apiSettings: {
		    	onResponse: function(newsResponse){
		    		var query = $('.ui.search').search('get value');
		    		var response = {
		    			results: {}
		    		};
		    		$.each(newsResponse.items, function(index, item){
		    			var
				            language   = item.language || 'Unknown',
				            maxResults = 8
				          ;
				         if(index >= maxResults) {
				            return false;
				          }
				          if(response.results[language] === undefined) {
				            response.results[language] = {
				              name    : language,
				              results : [],
				            };
				          }
				          response.results[language].results.push({
					            title       : item.name,
					            description : item.description,
					            url         : item.html_url
				          });
				        });
				        return response;
		    		}, 
	    		fields: {
				      results : 'items',
				      title   : 'name',
				      url     : 'html_url'
				    },
		    	}
		    	
		    }
		  );
			
		})();
</script>
<%- include('ifooter') %>